html {
  font-size: 16px; /* C1 */
}
/*Temel*/
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; /* C5, C6 */
  line-height: 1.5; /* C10 */
}

/* B13 maddesi */
.header {
  border-bottom: 1px solid #e7e9fc; /* B13 */
  height: 72px;
  width: 1440px;
  padding-top: 24px; /*üst boşluk figmada top 24 olarak görünüyor*/
  padding-bottom: 24px; /*alt boşluk figmada bottom 24 olarak görünüyor*/
}

/* B10 maddesi */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/*Header*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
  text-decoration: none;
}

.header a:hover,
.header a:focus {
  color: #434455; /* C3 */
  outline: none;
}

/*Navigasyon*/
.nav a {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  text-decoration: none;
}

.nav li {
  list-style: none;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf; /* C3 */
}

/*Adres*/

/*B10 maddesi*/
.address {
  display: flex;
  gap: 40px;
  font-style: normal; /* <address> etiketi italik olmasın */
}
.address a {
  font-weight: 400;
  text-decoration: none;
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  line-height: 1.5;
}

.address a:hover,
.address a:focus {
  color: #404bbf; /* C3 */
}

/*Hero*/
.hero {
  background-color: #2e2f42; /* C11 */
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center; /* h1 ve buton ortalancak*/
}

.hero-container {
  width: 1158px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700; /* C12 */
  font-style: bold;
  line-height: 1.07142857143; /* C10 */
  color: #ffffff; /* C11 */
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 3.75;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px; /* başlık ile buton arasına boşluk */
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111111111; /* C10 */
  color: #2e2f42;
}

.strategy li p,
.portfolio li p,
.team-li p,
.footer p {
  font-weight: 400;
}

h3 {
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  font-weight: 500;
}

.strategy p {
  line-height: 1.5;
}

/*Takım*/
.team {
  background-color: #f4f4fd; /* C11 */
}

.team-li h3 {
  font-weight: 500; /* C12 */
  line-height: 1.2; /* C10 */
  color: #2e2f42; /* C11 */
}

.team-li h3:hover,
.team-li h3:focus {
  color: #4d5ae5; /* C4 */
}

.team-li p {
  color: #434455; /* C11 */
}

/*Portfolio*/
.portfolio h3 {
  font-weight: 500; /* C12 */
}

/*Button*/
.hero-button {
  cursor: pointer; /* C13 */
  font-family: inherit;
  color: #ffffff;
  background-color: rgba(77, 90, 229, 1); /* C11 */
  border: none;
  border-radius: 4px;
  line-height: 1.5; /* C10 */
  font-weight: 500;
  gap: 10px;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(64, 75, 191, 1);
}

/*Footer*/
.footer {
  background-color: #2e2f42; /* C11 */
  color: #ffffff; /* C11 */
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.span-1,
.span-2 {
  color: rgba(77, 90, 229, 1); /* C11 */
}

.strategy li,
.portfolio li,
.team-li {
  list-style: none; /* C9 */
}

/*sayfada raleway fontu 2 defa kullanıldığı için onları kullanılan yere verdim. Geri kalan roboto kullandı.*/

/*belirlenen etiketler için global sfırılama kısmı B1 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* B3,B4 ve B15 de istenen paddig üst ve alt değeri */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* B6,B8 ve B9 de istenen container kısmı */
.container {
  width: 1158px;
  margin: 0 auto;
}
